elasticsearch
ipython>=8
jupyter_client
jupyterhub>=4.0.1
jupyter_server<2
markdown>=3.0,==3.1.1 # pin until we workaround #909, which is a regression in 3.2
nbconvert>=6.5.4
nbformat>=5.0
newrelic!=2.80.0.60
pycurl!=7.45.3 # pin to workaround ca cert autodect issue https://github.com/pycurl/pycurl/issues/834
pylibmc
statsd
tornado>=6.0
